<p id="notice"><%= notice %></p>

<p>
  <strong>Ultrafines:</strong>
  <%= @exchange.ultrafines %>
</p>

<p>
  <strong>Halfs:</strong>
  <%= @exchange.halfs %>
</p>

<p>
  <strong>Pogos:</strong>
  <%= @exchange.pogos %>
</p>

<p>
  <strong>Blues:</strong>
  <%= @exchange.blues %>
</p>

<p>
  <strong>One qt:</strong>
  <%= @exchange.one_qt %>
</p>

<p>
  <strong>Two qt:</strong>
  <%= @exchange.two_qt %>
</p>

<p>
  <strong>Three gal:</strong>
  <%= @exchange.three_gal %>
</p>

<p>
  <strong>Alcohol whipes:</strong>
  <%= @exchange.alcohol_whipes %>
</p>

<p>
  <strong>Cookers:</strong>
  <%= @exchange.cookers %>
</p>

<p>
  <strong>Cottons:</strong>
  <%= @exchange.cottons %>
</p>

<p>
  <strong>Ties:</strong>
  <%= @exchange.ties %>
</p>

<p>
  <strong>Bleach:</strong>
  <%= @exchange.bleach %>
</p>

<p>
  <strong>Condoms:</strong>
  <%= @exchange.condoms %>
</p>

<p>
  <strong>Ascorbic acid:</strong>
  <%= @exchange.ascorbic_acid %>
</p>

<p>
  <strong>Pieces of lit:</strong>
  <%= @exchange.pieces_of_lit %>
</p>

<p>
  <strong>Narcan:</strong>
  <%= @exchange.narcan %>
</p>

<p>
  <strong>Secondary exchange:</strong>
  <%= @exchange.secondary_exchange %>
</p>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
